html {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}
body {
    z-index: 0;
    height: 100%;
    width: 100%;
    color: #7C7C7C;
    font-size: 12px;
    line-height: 25px;
    overflow: hidden;
    letter-spacing: 2.3px;
    background-color: #fff;
    font-family: "Calibri", sans-serif;
}
body.admin-bar {
    margin-top: 32px;
}
body header {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
    z-index: 4;
}
body.admin-bar header {
    top: 32px;
}
body .main-container {
    background-color: #F4F4F4;
    height: calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: -moz-calc(100% - 120px);
    position: relative;
    margin: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
}
body .main-container.with-padding {
    padding: 30px 30px;
}
body footer {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
    z-index: 2;
}
body .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
body .wrapper .inner-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.row {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.content-inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    position: relative;
}
.clear {
    clear: both;
    margin: 0;
    padding: 0;
    display: block;
}
.clearfix:before, .row:before,
.clearfix:after, .row:after {
    content:"";
    display:table;
}
.clearfix:after, .row:after {
    clear:both;
}
p {
    color: inherit;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 20px;
    font-family: "Calibri", sans-serif;
    letter-spacing: 2.3px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #000000;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    position: relative;
    font-family: "Calibri", sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
h1 {
    font-size: 30px;
    line-height: 36px;
}
h2 {
    font-size: 24px;
    line-height: 31px;
}
h3 {
    font-size: 20px;
    line-height: 26px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
}
h5 {
    font-size: 14px;
    line-height: 22px;
}
h6 {
    font-size: 13px;
    line-height: 20px;
}
body .main-container.with-padding {
    padding: 30px 30px;
}
body footer {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
    z-index: 2;
}
body .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
body .wrapper .inner-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.row {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.content-inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    position: relative;
}
.clear {
    clear: both;
    margin: 0;
    padding: 0;
    display: block;
}
.clearfix:before, .row:before,
.clearfix:after, .row:after {
    content:"";
    display:table;
}
.clearfix:after, .row:after {
    clear:both;
}

/*Preloader*/
@-webkit-keyframes rotate
{
    0% {
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-moz-keyframes rotate
{
    0% {
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-o-keyframes rotate
{
    0% {
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes rotate
{
    0% {
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
.loader {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}
body.loaded .loader {
    display: none;
}
.loader p {
    position: absolute;
    font-family: "Calibri", sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 13px;
    margin: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.loader .circle {
    -webkit-animation-duration: .65s;
    animation-duration: .65s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    width: 25px!important;
    height: 25px!important;
    border: 2px solid #000;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block!important;
    position: absolute!important;
    background-color: transparent!important;
    top: 48.8%!important;
    left: 80%!important;
    left:-webkit-calc(50% + 100px)!important;
    left:-moz-calc(50% + 100px)!important;
    left:calc(50% + 100px)!important;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*==========================================================================================================================================
/*==========================================================================================================================================
    3.Transition Setup
============================================================================================================================================
============================================================================================================================================*/

::selection {
    color: #000000;
    background-color: #ffffff;
}
::-moz-selection {
    color: #000000;
    background-color: #ffffff;
}
::-webkit-input-placeholder {
    color: #7C7C7C!important;
    opacity: 1;
}
::-moz-placeholder {
    color: #7C7C7C!important;
    opacity: 1;
}
:-moz-placeholder {
    color: #7C7C7C!important;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #7C7C7C!important;
    opacity: 1;
}


header nav li a, header nav li a .arrow-right, footer .social-networks a, header .cart-icon, .striped-pages .col .overlay, .striped-pages .col a:before, .full-screen.flexslider .nav a,
.bg-video .nav a, .full-screen.flexslider .nav .bullets a, .full-screen.flexslider .nav .bullets a:before, .full-screen.flexslider .nav .bullets a span, .gallery-h .nav a,.button-large,
.gallery-h .gallery .container .img a:before, .mfp-container .arrow-right, .mfp-container .arrow-left, .mfp-container .mfp-close, .gallery-albums .filters a, .portfolio .filters a,
.gallery-albums .albums .album .overlay:before, .gallery-albums .albums .album .overlay, .gallery-albums .albums .album .album-cont:before, .gallery-images .images .img a,
.gallery-images .images .img .img-cont:before, .gallery-images .images .img .overlay, .gallery-images .images .img .overlay:before, .gallery-images .images .img .love-2,.portfolio-striped .nav a,
.portfolio .projects .project .project-cont:before, .portfolio .projects .project .overlay:before, .portfolio .projects .project .overlay, .portfolio .projects .project .cat a,.button-small,
.portfolio-striped .projects .project .overlay, .portfolio-striped .projects .project .overlay:before, .portfolio-striped .projects .project .cat a, .portfolio-single.style-1 .nav a,
.portfolio-single.style-1 .images a:before, .team .member .overlay, .contact-1 form textarea, .contact-1 form input, .contact-1 form input[type=button], .contact-1 form .message-info,
.contact-2 form input[type=text], .contact-2 form input[type=email], .contact-2 form textarea, .contact-2 form input[type=button], .gallery-images .filters a, .blog .filters a,
.blog .articles .overlay, .blog.style-1 .article .date a, .blog.style-1 .article .cat a, .blog.style-2 .article .date a, .blog.style-2 .article .cat a, .sidebar .widget.recent-posts ul li a,
.sidebar .widget.categories ul li a, .blog.filtered .articles .article .article-cont:before, .sidebar .widget.flickr ul li:before, .blog-single .article .info a, .shop .items .item .overlay:before,
.blog-single form input[type=button], .blog-single form input[type=text], .blog-single form input[type=email], .blog-single form textarea, .shop .items .item .rate-2,.shop .filters a,
.shop .items .item .overlay, .shop .items .item .item-cont:before, .item-single .add-to-cart button,.item-single .add-to-cart input[type=number], .item-single .rate .full a,
.inner-wrapper .flexslider .nav a, .item-single .items .item .overlay, .gallery-images .images .img .icon, .gallery-images.style-title .images .img .love-2 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



/*==========================================================================================================================================
/*==========================================================================================================================================
    4.Header Setup
============================================================================================================================================
============================================================================================================================================*/

@-webkit-keyframes logo_animate {
    0% {opacity: 1}
    50% {opacity: 0.3}
    100% {opacity: 1}
}
@-moz-keyframes logo_animate {
    0% {opacity: 1}
    50% {opacity: 0.3}
    100% {opacity: 1}
}
@-o-keyframes logo_animate {
    0% {opacity: 1}
    50% {opacity: 0.3}
    100% {opacity: 1}
}
@keyframes logo_animate {
    0% {opacity: 1}
    50% {opacity: 0.3}
    100% {opacity: 1}
}


/*Logo Container*/
header .logo-container {
    float: left;
    margin-right: 60px;
    height: 60px;
    padding: 0 15px;
}
header .logo-container p {
    font-family: "Calibri Light", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 10px;
    color: #000000;
    height: 60px;
    line-height: 60px;
    font-weight: 700;
}
header .logo-container img {
    height: 100%;
    line-height: 60px;
    position: relative;
}
header .logo-container:hover {
    -webkit-animation: logo_animate 0.8s 1; /* Safari 4+ */
    -moz-animation:    logo_animate 0.8s 1; /* Fx 5+ */
    -o-animation:      logo_animate 0.8s 1; /* Opera 12+ */
    animation:         logo_animate 0.8s 1; /* IE 10+, Fx 29+ */
}

/*Navigation*/
header nav {
    float: right;
    height: 60px;
    overflow: visible;
    background-color: #fff;
}
header nav ul {
    list-style: none;
    margin: 0;
}
header nav li {
    list-style: none;
}
header nav li a .arrow-right {
    float: right;
    font-size: 7px;
    top: 6px;
    position: relative;
    color: #939393;
}
header nav li a .arrow-down {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 7px;
    display: none;
}
header nav > ul {
    position: relative;
    height: 60px;
}
header nav > ul > li {
    display: inline-block;
    float: left;
    position: relative;
    height: 60px;
}
header nav > ul > li > a {
    height: 60px;
    padding: 0 15px;
    line-height: 60px;
    display: inline-block;
    color: #7C7C7C;
    letter-spacing: 2.3px;
    font-size: 11px;
    font-family: "Calibri", sans-serif;
}
header nav a.active, header nav li:hover > a, header nav li:hover > a .arrow-right {
    color: #000000!important;
}
header nav li.current-menu-item > a, header nav li.current-menu-ancestor > a {
    color: #000000!important;
}
header nav > ul ul {
    display: none;
    position: absolute;
    top: 60px;
    left: -60px;
    width: 200px;
    height: auto;
}
header nav > ul ul.edge {
    left: auto;
    right: 0;
}
header nav > ul ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: auto;
    right: -100%;
    width: 200px;
    height: auto;
}
header nav > ul ul ul.edge {
    right: 100%;
}
header nav > ul ul li {
    display: block;
    position: relative;
    z-index: 9;
}
header nav > ul ul li a {
    color: #7C7C7C;
    display: block;
    line-height: 18px;
    padding: 15px 22px;
    font-size: 10px;
    letter-spacing: 2.3px;
    background-color: rgba(255,255,255,0.8);
}
/*==========================================================================================================================================
/*==========================================================================================================================================
    5.Gallery Setup
============================================================================================================================================
============================================================================================================================================*/

/*Basic*/
.gallery-h {
    position: relative;
    width: 100%;
    height: 100%;
}
.gallery-h .nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.gallery-h .nav a {
    color: #959595;
}
.gallery-h .nav .prev {
    font-size: 22px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    left: -75px;
}
.gallery-h .nav .next {
    font-size: 22px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    color: #959595;
    right: -75px;
}
.gallery-h .nav a:hover {
    color: #fff;
}
.gallery-h .gallery {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.gallery-h .gallery .container {
    position: relative;
    width: 99999px;
    height: 100%;
}
.gallery-h .gallery .img {
    float: left;
    margin-right: 30px;
    height: 100%;
}
.gallery-h .gallery .img:last-child {
    margin: 0;
}
.gallery-h .gallery .img a {
    position: relative;
    display: block;
    height: 100%;
    width: auto;
}
.gallery-h .gallery .img img {
    height: 100%;
    width: auto;
}
.gallery-h .gallery .container .img a:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
}


/*==========================================================================================================================================
/*==========================================================================================================================================
    6.Footer Setup
============================================================================================================================================
============================================================================================================================================*/

footer .copyrights {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 60px;
    margin-bottom: 0;
    padding: 0 15px;
    font-family: "Calibri ", sans-serif;
    font-size: 9px;
    cursor: default;
}
footer .social-networks {
    float: right;
    height: 60px;
    line-height: 60px;
    margin-left: 60px;
}
footer .social-networks a {
    font-family: "Calibri", sans-serif;
    font-size: 11px;
    color: #7C7C7C;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    display: inline-block;
    letter-spacing: 2.3px;
    float: left;
}
footer .social-networks a span {

}
footer .social-networks a i {
    display: none;
    line-height: 60px;
    font-size: 13px;
}
footer .social-networks a:hover {
    color: #000000;
}

/*==========================================================================================================================================
/*==========================================================================================================================================
    7.Contact Setup
============================================================================================================================================
============================================================================================================================================*/


.contact {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #BABABA;
}

.contact .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1170px;
    height: 500px;
    padding: 30px 30px;
    z-index: 4;
    background-color: rgba(255,255,255,0.7);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.col .full {
    width: 100%;
    padding: 0px 15px;
    position: relative;
}

.contact h4{
    margin-bottom: 20px;
}